body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 50px 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 380px;
}
form h2{
    font-size: 35px;
    color: black;
    margin-bottom: 35px;
}

form p{
    font-size: 16px;
    color: #5e5e55;
    margin-bottom: 35px;
}

.input-wrapper{
    position: relative;
    width: 305px;
    margin-bottom: 35px;
}

input{
    color: black;
    padding: 20px 15px 20px 60px;
    width: 100%;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
    outline: none;
    font-size: 16px;
}

input::placeholder{
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.input-icon{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(-55%);
}

.btn{
    padding: 20px;
    background: linear-gradient(
        90deg,
        rgba(0, 85, 255, 1) 0%,   /* Azul más oscuro */
        rgba(0, 150, 255, 1) 50%, /* Azul intermedio */
        rgba(0, 200, 255, 1) 100% /* Azul más claro */
    );
    box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover{
    background:  rgba(0, 85, 255, 1);
}

.success{
    position: absolute;
    top: 50px;
    color: #00c83c;
    font-size: 18px;
}

.error{
    position: absolute;
    top: 50px;
    color: #f50000;
    font-size: 18px;
}
@media(max-width:991px){
    body{
        padding: 10px;
    }
    form{
        padding: 20px;
        width: 100%;
    }
    .input-wrapper{
        position: relative;
        width: 88%;
        margin-bottom: 35px;
    }
    input{
        padding: 20px 0 20px 45px;
    }

    .input-icon{
        height: 20px;
        width: 20px;
    }
}
select {
    color: black;
    padding: 20px 15px 20px 60px;
    width: 100%;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
    outline: none;
    font-size: 16px;
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    background-color: white; /* Color de fondo */
}

select::placeholder {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

/* Agregar un ícono para el combo box */
.input-wrapper {
    position: relative;
    width: 305px;
    margin-bottom: 35px;
}

.input-wrapper::after {
    content: '';
    position: absolute;
    right: 15px; /* Ajusta la posición del ícono a la derecha */
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Ajusta el tamaño del ícono */
    height: 20px; /* Ajusta el tamaño del ícono */
    background-image: url('images/arrow-down.svg'); /* Ruta de tu ícono de flecha */
    background-size: cover; /* Ajusta el ícono al contenedor */
    pointer-events: none; /* No permite la interacción con el ícono */
}
